   /* QUITAR SCROLL */
   body::-webkit-scrollbar {
     display: none;
   }

   /* LOGIN */

   .cardlogin {
     background: #B3E5FC;
     border-radius: 15px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     width: 100%;
     max-width: 400px;
     height: 450px;
     /* Altura fija */
     display: flex;
     flex-direction: column;
   }

   .form-group label {
     color: #0d47a1;
   }

   .btn-custom {
     background-color: #42a5f5;
     border: none;
     border-radius: 50px;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
     color: white;
     display: block;
     width: 100%;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     
   }

   .text-center a {
     color: #42a5f5;
   }

   

   /* index */


   .rowindex img {
     border-radius: 40%;
   }

   .cardindex {
     border-radius: 30%;
     background: #B3E5FC;
   }

   .row a {
     cursor: pointer;
     color: black;
   }

   /* Carrito */

   .btn-custom {
     background-color: #0288D1;
     color: rgb(0, 0, 0);
   }

   #cantidad i {

     color: red;

   }

   .discount {
     color: white;
     background: red;
   }
.cardcarrito{
  width: 735px;
  height: 230px;
  background: #B3E5FC;
}
   /* ofertas */


   .discount {
     color: white;
     background: red;
   }

   /* Novedades */
   body {
     font-family: sniglet;
   }

   .carousel-caption {
     background-color: rgba(0, 0, 0, 0.5);
     padding: 10px;
   }


   .card {

     border: none;
     /* Elimina el borde de la tarjeta */
     border-radius: 15px;
     /* Añade un borde redondeado */
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
     /* Sombra suave */
   }

   .discount {
     color: white;
     background: red;
   }

   /* Accesorios */
   body {
     font-family: sniglet;
     background: #FAE7A5;
   }



   .filter-card {
     width: fit-content;
     display: inline-block;
   }

   .filter-header {
     display: flex;
     align-items: center;
   }

   .filter-header svg {
     margin-right: 5px;
   }

   .form-check-input:checked {
     background-color: #ffd966;
     border-color: #ffd966;
   }

   .product-card {
     margin-bottom: 20px;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-color: white;
   }

   .product-card img {
     width: 100%;
     height: 200px;
     object-fit: cover;
   }

   .card-body {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }

   .product-grid {
     display: flex;
     flex-wrap: wrap;
   }

   .product-grid .product-item {
     flex: 1 0 21%;
     /* Ajusta el tamaño según sea necesario */
     margin: 10px;
     display: flex;
   }

   .color-box {
     width: 30px;
     height: 30px;
     border: 1px solid #ccc;
     display: inline-block;
   }

   .discount {
     color: white;
     background: red;
   }

   .menun a {
     text-decoration: none;
     color: black;
   }

   /* CELULARES */
   body {
     font-family: sniglet;
     background: #FAE7A5;
   }

   .product-card {
     height: 100%;
   }

   .card-body {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }

   .color-box {
     width: 30px;
     height: 30px;
     border: 1px solid #ccc;
     display: inline-block;
   }

   .discount {
     color: white;
     background: red;
   }

   .menun a {
     text-decoration: none;
     color: black;
   }

   /* DETALLE PRODUCTO */
   .thumbnail-images img {
     cursor: pointer;
     width: 60px;
     margin: 5px 0;
   }

   .main-image-container {
     text-align: center;
   }

   .product-images {
     display: flex;

   }

   .thumbnail-images {
     margin-right: 5px;
   }

   .discount {
     color: white;
     background: red;
   }


   .color-box {
     width: 30px;
     height: 30px;
     border: 1px solid #ccc;
     display: inline-block;
   }

   .discount {
     color: white;
     background: red;
   }

   .menun a {
     text-decoration: none;
     color: black;
   }

   /* COMENTARIOS */
    .star-rating {
       direction: rtl;
       display: inline-block;
       padding: 20px;
   }
   .star-rating input[type="radio"] {
       display: none;
   }
   .star-rating label {
       color: #bbb;
       font-size: 25px;
       padding: 0;
       cursor: pointer;
       transition: all .3s ease-in-out;
   }
   .star-rating input[type="radio"]:checked ~ label,
   .star-rating label:hover,
   .star-rating label:hover ~ label {
       color: #f2b600;
   }
   .comment-item {
       margin-bottom: 15px;
   }
   .comment-item .rating {
       color: #f2b600;
   }
   .comment-section {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .comment-list {
       width: 75%;
   }
   .container-custom {
       margin-top: 40px;
      
      
       display: flex;
       justify-content: center;
   }
   .row-custom {
       display: flex;
       flex-wrap: wrap;
       
   }
   .col-custom {
       flex: 0 0 100%;
       max-width: 100%;
   }
   .text-center-custom {
       text-align: center;
   }
   .mb-4-custom {
       margin-bottom: 24px;
       
     
   }
   .card-custom {
       border: 1px solid #ddd;
       border-radius: 5px;
       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
       margin-bottom: 24px;
       background: white;
     
   }
   .card-body-custom {
       padding: 16px;
   }
   .card-title-custom {
       font-size: 1.25rem;
       margin-bottom: 16px;
   }
   .form-group-custom {
       margin-bottom: 16px;
   }
   .form-control-custom {
       width: 100%;
       padding: 8px;
       border: 1px solid #ccc;
       border-radius: 4px;
   }
   .btn-custom {
       background-color: #007bff;
       color: white;
       border: none;
       padding: 10px 20px;
       border-radius: 4px;
       cursor: pointer;
       transition: background-color 0.3s ease;
   }
   .btn-custom:hover {
       background-color: #0056b3;
   }
   .d-flex-custom {
       display: flex;
       justify-content: space-between;
   }

   /* DETALLE ACCSESORIO */
   .thumbnail-images img {
    cursor: pointer;
    width: 60px;
    margin: 5px 0;
  }

  .main-image-container {
    text-align: center;
  }

  .product-images {
    display: flex;

  }

  .thumbnail-images {
    margin-right: 5px;
  }

  .discount {
    color: white;
    background: red;
  }

  .color-box {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: inline-block;
  }

  .menun a {
    text-decoration: none;
    color: black;
  }
   /* REGISTRARSE */
   #LR {
    background-image: url("https://i.pinimg.com/564x/22/5d/71/225d71576031e09383aedd5225f48f63.jpg");
    background-color: #f7f7f7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    padding: 0%;
    margin: 0%;
  }
  .card {
    background-color: #e3f2fd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: auto; /* Altura fija */
    display: flex;
    flex-direction: column;
  }
  .form-group label {
    color: #0d47a1;
  }
  .btn-custom {
    background-color: #42a5f5;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  .text-center a {
    color: #42a5f5;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }


   /* SSS */


      /* FORMILARIO PARA NUEVO PRODUCTO */ 

         /* Estilos personalizados para el formulario */
.formulario-producto {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formulario-producto p {
  font-size: 1.5em;
  color: #333;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  
}

.campo-contenedor {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.etiqueta-flotante {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.entrada-destacada {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.entrada-destacada:focus {
  border-color: #42a5f5;
  outline: none;
  background-color: #cff0ff;
}

.boton-registro {
  background-color: #007bff;
  color: white;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-registro:hover {
  background-color: #B3E5FC;
  color: black;
}

/* Estilos para hacer el formulario responsive */
@media (max-width: 768px) {
  .formulario-producto {
      padding: 15px;
  }

  .campo-contenedor {
      flex-direction: column;
  }

  .boton-registro {
      width: 100%;
      margin-top: 10px;
  }
}

body {
  font-family: sniglet;
}